# The URL the site will be built for
# base_url = "https://maddyinadream.vercel.app"
base_url = "http://127.0.0.1:1111"
theme = "zap"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = true

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true

[extra]
# Put all your custom variables here
inline_icons = true
icon_path = "static/icons/"
icons = ["home", "chat", "search", "light", "asleep", "rss"]

